<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
  <div class="container-fluid">
    <span class="navbar-brand">WK Teste Técnico</span>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pedido" routerLinkActive="active">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/produto" routerLinkActive="active">Produtos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>